<main>
	<form action='/register' name='form' method='POST' id='register'>
		<fieldset>
			<legend>Account</legend>
			<label for='email'>Your e-mail-address</label>
			<input type='email' name='email' id='email' required minlength='6' />
			<span class='error' id='email-error' aria-live='polite'></span>
			<label for='password'>Your password</label>
			<input
				type='password'
				name='password'
				id='password'
				required
				minlength='8'
				maxlength='100'
			/>
			<span class='error' id='password-error' aria-live='polite'></span>
		</fieldset>
		<fieldset>
			<legend>Personal information</legend>
			<label for='name'>My first name is</label>
			<input type='text' name='name' id='name' required minlength='1' maxlength='100' />
			<span class='error' id='name-error' aria-live='polite'></span>
			<label for='birthday'>Your birthday is</label>
			<input type='date' name='birthday' id='birthday' required />
			<span class='error' id='birthday-error' aria-live='polite'></span>
		</fieldset>
		<fieldset class='sex-section'>
			<legend>I am a</legend>
			{{#each sex}}
				<label for='{{this}}' class='radio-label'>
					<input
						type='radio'
						id='{{this}}'
						class='sex'
						name='sex'
						value='{{this}}'
						required
					/>{{this}}
				</label>
			{{/each}}
		</fieldset>
		<fieldset class='orientation-section'>
			<legend>My sexual orientation is</legend>
			{{#each orientation}}
				<label for='{{this}}'>
					<input
						type='radio'
						id='{{this}}'
						class='orientation'
						name='orientation'
						value='{{this}}'
						required
					/>{{this}}
				</label>
			{{/each}}
			<br />
		</fieldset>
		<button type='submit'>Register account</button>
	</form>
</main>
<script src='/js/script.js'></script>